.form_container {
  margin: 30px auto;
  padding: 10px 50px 10px 50px;
  display: flex;
}
.input_field {
  height: 43px;
  width: 18rem;
  margin-right: 20px;
  border-color: blue;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}
